Art/Asset Library/Iconr
Art/Asset Library/Soteria Statue/Iconr
Art/character turnaround sheets/Iconr
Art/Concept Art/Iconr
Art/Concept Art/character concepts/Iconr
Art/Concept Art/character concepts/main character/Iconr
Art/Concept Art/character concepts/secondary characters/Iconr
Art/Concept Art/character concepts/Soteria/Iconr
Art/Concept Art/Environment/Iconr
Art/Concept Art/shadow creatures/Iconr
Art/reference art/Iconr
Art/reference art/City references /Iconr
Art/Asset_Library/Iconr
Art/Asset_Library/Soteria_Statue/Iconr
Art/character_turnaround_sheets/Iconr
Art/Concept_Art/Iconr
Art/Concept_Art/character_concepts/Iconr
Art/Concept_Art/character_concepts/main character/Iconr
Art/Concept_Art/character_concepts/secondary characters/Iconr
Art/Concept_Art/character_concepts/Soteria/Iconr
Art/Concept_Art/Environment/Iconr
Art/Concept_Art/shadow_creatures/Iconr
Art/reference_art/Iconr
Art/reference_art/City references /Iconr
TechArt/ExternalTools/.coverage
conf.py
Art/reference_art/City_References/Iconr
Iconr
TechArt/doc/make.bat
TechArt/doc/Makefile
