Art/Asset Library/Iconr
Art/Asset Library/Soteria Statue/Iconr
Art/character turnaround sheets/Iconr
Art/Concept Art/Iconr
Art/Concept Art/character concepts/Iconr
Art/Concept Art/character concepts/main character/Iconr
Art/Concept Art/character concepts/secondary characters/Iconr
Art/Concept Art/character concepts/Soteria/Iconr
Art/Concept Art/Environment/Iconr
Art/Concept Art/shadow creatures/Iconr
Art/reference art/Iconr
Art/reference art/City references /Iconr
